# This file contains common pin mappings for the BIGTREETECH Manta M5P
# To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" "8 MHz crystal"
# and "USB (on PA11/PA12)" or "CAN bus (on PD0/PD1)".

[board_pins my_aliases]
mcu: mcu
aliases:
    # EXP1 header
    EXP1_1=PD5, EXP1_3=PB3, EXP1_5=PB5, EXP1_7=PB7, EXP1_9=<GND>,
    EXP1_2=PD4,  EXP1_4=PD6, EXP1_6=PB4, EXP1_8=PB6, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PB14, EXP2_3=PB8, EXP2_5=PC10, EXP2_7=PC12,  EXP2_9=<GND>,
    EXP2_2=PB13, EXP2_4=PB9, EXP2_6=PB15, EXP2_8=<RST>, EXP2_10=<NC>,

    # Motors
    X_EN= , X_STEP= , X_DIR= , X_CS= ,
    Y_EN= , Y_STEP= , Y_DIR= , Y_CS= ,
    Z_EN= , Z_STEP= , Z_DIR= , Z_CS= ,
    Z1_EN= , Z1_STEP= , Z1_DIR= , Z1_CS= ,   
    E_EN= , E_STEP= , E_DIR= , E_CS= ,

    # TMC SPI
    MISO= ,
    MOSI= ,
    SCK= ,

    # TMC UART
    X_UART= ,
    Y_UART= ,
    Z_UART= ,
    Z1_UART= ,
    E_UART= ,    

    #  Endstops
    X_STOP= ,
    Y_STOP= ,
    Z_STOP= ,
    E_STOP= ,

    # Diag Pins for sensorless homing
    X_DIAG= ,
    Y_DIAG= ,
    Z_DIAG= ,
    E_DIAG= ,