[gcode_macro _START_PRINT]
description: Starting G-Code script.
gcode:
	{% set BED_TEMP = params.BED_TEMP|default(90)|float %}
    {% set TOOL_TEMP = params.TOOL_TEMP|default(240)|float %}
	{% set DWELL_TIME = params.DWELL_TIME|default(5)|float %}

	#Set TOOL_TEMP to 140C to warm nozzle
    RESPOND MSG="Warming nozzle to 140C..."
	SET_HEATER_TEMPERATURE HEATER=extruder TARGET=140

    
	#Set and wait for BED_TEMP to reach TARGET
    RESPOND MSG="Preheating bed to {BED_TEMP}C..."
	SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={BED_TEMP}
	TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={BED_TEMP}
	
	#Wait for DWELL_TIME for BED_TEMP to stablize
    RESPOND MSG="Stabilizing temps for {DWELL_TIME} minutes..."
	G4 P{DWELL_TIME * 60000}
	
	#Set and wait TOOL_TEMP to printing TEMPERATURE_WAIT
    RESPOND MSG="Heating nozzle to {TOOL_TEMP}C..."
	SET_HEATER_TEMPERATURE HEATER=extruder TARGET={TOOL_TEMP}
	TEMPERATURE_WAIT SENSOR=extruder MINIMUM={TOOL_TEMP}
	
	#Home all and wait for moves to finish
    RESPOND MSG="Homing XYZ..."
	G28
    M400
	
	#Run adaptive mesh compenstion
    RESPOND MSG="Running adaptive bed mesh compensation..."
	BED_MESH_CALIBRATE ADAPTIVE=1
	
	#Run KAMP line purge
    RESPOND MSG="Purging filament..."
	LINE_PURGE

[gcode_macro _END_PRINT]
description: Ending G-Code script.
gcode:
    {% set CURRENT_Z = printer.gcode_move.gcode_position.z %}
    {% set MAX_Z = printer.toolhead.axis_maximum.z %}

    RESPOND MSG="Lifting nozzle..."
    {% if CURRENT_Z < (MAX_Z - 5) %}
        G91
        G1 Z5 F{12 * 60}
        G90
    {% endif %}
    RESPOND MSG="Moving printhead and bed..."
    G1 X{printer.toolhead.axis_minimum.x + 5} Y{printer.toolhead.axis_maximum.y - 5} F{300 * 60}
    M400
    RESPOND MSG="Cooling printhead..."
    TURN_OFF_HEATERS
    M107
    M84
    RESPOND MSG="Print Complete..."